{% if article is defined %}

  {% set image = article.headerImage.one() %}
  <div class="card news-item">
    <p class="news-post-date"><strong>{{ article.originalPostedDate|date("d") }}</strong>{{ article.originalPostedDate|date("M") }}</p>
    <figure>
      {% if image %}
        <img src="{{ image.getUrl() }}" alt="" />
      {% else %}
        <img src="assets/images/inner-banner-bg.png" alt=""/>
      {% endif %}
      <span class="news-lbl">{{ article.category }}</span>
    </figure>
    <div class="news-item-caption">
      <h5>
        <a href="javascript:void(0);" [routerLink]="['/' + news.news_slug]">{{ article.pageTitle }}</a>
      </h5>
      <div class="news-post-details">
        <p>
          Posted by <a href="javascript:void(0);">{{ article.pageSubtitle }}</a> / {{ article.originalPostedDate|date("long") }} / <a href="javascript:void(0);">{{ article.category|capitalize }}</a>
        </p>
      </div>
      <div class="btn-group">
        <a class="btn-txt btn-arrow btn-btm-bdr" href="news/{{article.slug}}">Read more <img alt="" src="assets/images/next-arrow.png"/></a>
      </div>
    </div>
  </div>

{% endif %}