{% if article is defined %}
    {% set image = article.headerImage.one().url ?? (imagePlaceholders.articleImagePlaceholder.one() ?? null) %}
    {% set transformedImage = image ? craft.imager.transformImage(image, { format: 'webp' }) : null %}
    <div class="card shadow rounded position-relative">
        <div class="news-article">
        <date class="text-center mx-auto"><strong>{{ article.originalPostedDate ? article.originalPostedDate|date("d") : article.postDate|date("d") }}</strong>{{ article.originalPostedDate ? article.originalPostedDate|date("M") : article.postDate|date("M") }}</date>
        <picture>
          <source srcset="{{ transformedImage.url ?? null }}" type="image/webp">
          <source srcset="{{ image }}" type="image/jpeg">
          <img src="{{ image }}" class="img-fluid">
        </picture>
        <span class="">{{ article.category.label }}</span>
      </figure>
      <div class="">
        <h5>
          <a href="{{article.url}}">{{ article.pageTitle }}</a>
        </h5>
        <div class="">
          {% if article.originalPostedDate %}
            <p>
              Posted by <a href="javascript:void(0);">{{ article.author.fullName }}</a> / {{ article.originalPostedDate|date("long") }} / <a href="javascript:void(0);" style="text-transform:uppercase">{{ article.category.label }}</a>
            </p>
          {% else %}
            <p>
              Posted by <a href="javascript:void(0);">{{ article.author.fullName }}</a> / {{ article.postDate|date("long") }} / <a href="javascript:void(0);" style="text-transform:uppercase">{{ article.category.label }}</a>
            </p>
          {% endif %}
        </div>
        <div class="">
          <a class="" href="{{article.url }}">Read more
            <picture>
              <source srcset="/assets/images/next-arrow.webp" type="image/webp">
              <source srcset="/assets/images/next-arrow.png" type="image/jpeg">
              <img src="/assets/images/next-arrow.png">
            </picture>
          </a>
        </div>
      </div>
    </div>
    </div>
{% endif %}