<footer class="footer-container p-0">
    <div class="container">
        <div class="main-footer-wrap py-lg-4 pb-3">
            <div class="ftr-news-caption py-4 py-md-5 py-lg-0">
                <h6>Sign Up For Our Newsletter</h6>
                <form class="ftr-newsltr-wrap" action="" method="post">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="mailchimp-subscribe/audience/subscribe">
                    {% set subscribeResponse = mailchimpSubscribe is defined and mailchimpSubscribe.action == 'subscribe' ? mailchimpSubscribe : null %}
                    {% if subscribeResponse %}
                        {% if not subscribeResponse.success %} <p>An error
                            occured: {{ subscribeResponse.message }}</p> {% endif %}
                    {% endif %}
                    <div class="sign-up-field mx-0">
                        <input id="emailInput" type="email" name="email" class="input-bdr px-3"
                                placeholder="Enter your email"
                                {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.email ?? '' }}"{% endif %}/>
                        <input class="btn btn-brand btn-sent" type="submit" name="" value="Sign Up"/>
                    </div>
                </form>
            </div>

            {% set nodes = craft.navigation.nodes('footerLinks').level(1).all() %}
            {% nav node in nodes %}
                <div class="ftr-contact-caption">
                    <h6>{{- node.title -}}</h6>
                    {% for subnode in node.children %}
                        <a href="{{ subnode.url }}">{{ subnode.title }}</a>
                    {% endfor %}
                </div>
            {% endnav %}
        </div>
    </div>
    <div class="footer-btm-wrap">
        <div class="container">
            <div class="row align-items-center">
                <p class="col-12 col-sm-4 mx-0 mb-3 mb-sm-0" id="menu-legal">
                    {% set nodes = craft.navigation.nodes('footerLegalLinks').level(1).all() %}
                    {% nav node in nodes %}
                        <a {{ node.linkAttributes }}>{{ node.title }}</a>
                        {% if not loop.last %}
                            <span> | </span>
                        {% endif %}
                    {% endnav %}
                <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                    <ul class="social-media d-flex justify-content-center">
                        <li class="mx-1 mx-md-1"><a href="{{ socialLinks.linkedinLink }}">{{ svg('@webroot/assets/images/social-linkedin.svg') }}</a></li>
                        <li class="mx-1 mx-md-1"><a href="{{ socialLinks.facebookLink }}/">{{ svg('@webroot/assets/images/social-facebook.svg') }}</a></li>
                        <li class="mx-1 mx-md-1"><a href="{{ socialLinks.twitterLink }}">{{ svg('@webroot/assets/images/social-twitter.svg') }}</a>
                    </ul>
                </div>
                <p class="col-12 col-sm-4 mx-0">
                    © Copyright {{ now|date('Y') }} VREF . All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>