<footer class="bg-dark text-white">
    <div class="container">
        <footer class="py-4 py-lg-5">
            <div class="row">
                <div class="col-12 col-lg-5 mb-3 mb-lg-0">
                    <div class="row">
                        <div class="col-12 col-lg-11">
                            {% set subscribeResponse = mailchimpSubscribe is defined and mailchimpSubscribe.action == 'subscribe' ? mailchimpSubscribe : null %}
                            <form method="post" action>
                                {{ csrfInput() }}
                                <input type="hidden" name="action" value="mailchimp-subscribe/audience/subscribe">
                                <h5 class="mb-4 text-center text-lg-start text-white">Sign Up For Our Newsletter</h5>
                                <label for="emailInput" class="visually-hidden">Email address</label>
                                <div class="input-group">
                                    <input id="emailInput" type="email" name="email" class="form-control"
                                           placeholder="Enter your email" {% if subscribeResponse and not subscribeResponse.success %}value="{{ subscribeResponse.values.email ?? '' }}"{% endif %}>
                                    <button class="btn btn-primary" type="submit">Sign Up</button>
                                </div>
                                {% if subscribeResponse %}
                                    {% if not subscribeResponse.success %}
                                        <p class="text-white text-center text-lg-start my-2 fs-6">An error occured: {{ subscribeResponse.message }}</p>
                                    {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 text-center text-lg-start">
                    <div class="row">
                        {% set nodes = craft.navigation.nodes('footerLinks').level(1).all() %}
                        {% nav node in nodes %}
                            <div class="col-12 col-lg-4 mt-4 mt-lg-0">
                                <h5 class="text-white mb-3 mb-lg-4">{{- node.title -}}</h5>
                                <ul class="nav flex-column">
                                    {% for subnode in node.children %}
                                        <li class="nav-item mb-2">
                                            <a href="{{ subnode.url }}" class="nav-link p-0 text-grey-light">
                                                {{ subnode.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endnav %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="footer-bottom" class="bg-dark-heavy py-3 py-lg-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 text-center mb-3 my-lg-auto">
                    {% set nodes = craft.navigation.nodes('footerLegalLinks').level(1).all() %}
                    {% nav node in nodes %}
                        <a class="text-gold mx-1">{{ node.title }}</a>
                        {% if not loop.last %}
                            <span> | </span>
                        {% endif %}
                    {% endnav %}
                </div>
                <div class="col-12 col-lg-4">
                    <ul class="list-unstyled d-flex mb-0 justify-content-center">
                        <li class="mx-3"><a href="{{ socialLinks.linkedinLink }}">{{ svg('@webroot/assets/images/social-linkedin.svg') }}</a></li>
                        <li class="mx-3"><a href="{{ socialLinks.facebookLink }}/">{{ svg('@webroot/assets/images/social-facebook.svg') }}</a></li>
                        <li class="mx-3"><a href="{{ socialLinks.twitterLink }}">{{ svg('@webroot/assets/images/social-twitter.svg') }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 text-center mt-3 my-lg-auto">
                    <p class="text-white mb-0"> © Copyright {{ now|date('Y') }} VREF . All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

