{% set persons = craft.entries.section('teamMembers') %}
<div class="lines-tp-brand ptb-full dark-bg-img" style="background-image: url(/assets/images/team-bg.webp);"
     data-background-image-url-fallback="/assets/images/team-bg.png">
    <div class="container">
        <div class="title-row text-center white-txt" style="padding-top:80px;">
            <h2>Meet Our Experts</h2>
            <p style="max-width:900px;">With over 200 years of combined experience, get to know the leadership team
                behind our aircraft appraisal and valuations services.</p>
        </div>
        <div class="team-wrap flex">
            {% for person in persons.all() %}
                {% set image = person.profilePicture.one().url ?? null %}
                {% set transformedImage = image ? craft.imager.transformImage(image, { format: 'webp' }) : null %}
                <div class="team-item">
                    <figure>
                        {% if image %}
                            <picture>
                                <source srcset="{{ transformedImage.url ?? null }}" type="image/webp">
                                <source srcset="{{ image }}" type="image/jpeg">
                                <img src="{{ image }}">
                            </picture>
                        {% endif %}
                    </figure>
                    <h6>{{ person.personName }}<span>{{ person.personDesignation }}</span></h6>
                    <p>{{ person.smallBio }}</p>
                    <a href="/about/{{ person.slug }}" class="btn-arrow btn-lbl btn-lbl-brand">Read more
                        <picture>
                            <source srcset="/assets/images/next-arrow.webp" type="image/webp">
                            <source srcset="/assets/images/next-arrow.png" type="image/jpeg">
                            <img src="/assets/images/next-arrow.png">
                        </picture>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>