{% for item in entry.servicesList.all() %}
<div class="container">
    <div class="row {% if loop.index%2 %}flex-lg-row-reverse{% endif%} align-items-center">
        <div class="col-10 col-sm-8 col-lg-4  my-4">
            {% set itemHeroImage = item.image.one() %}
            <img src="{{ itemHeroImage.url }}" class="d-block mx-lg-auto img-fluid" alt="{{ item.heading }}">
        </div>
        <div class="col-10 col-lg-8 mt-0 my-4 my-lg-0">
            <h2 class="fw-bold lh-1 mb-3">{{ item.heading|nl2br }}</h1>
            <p class="lead mb-4">{{ item.text|nl2br }}</p>
            {% set itemLinkEntry = item.linkEntry.one() %}
            {% if itemLinkEntry %}
                <a href="{{ itemLinkEntry.url }}" class="fw-bold m-0 d-block d-md-inline-block fs-5 border-bottom text-center">{{ entry.linkText ?: 'Learn More' }} &#8594;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}