{% extends "base" %}

{% block content %}
<div class="bg-dark py-4 pb-lg-0">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a href="#" class="text-white">About Us</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ entry.personName }}</li>
            </ol>
        </nav>
        <div class="row mt-lg-5">
            <div class="col-12 col-lg-3 person-img-col">
                {% set imageTransformHandle = 'teamMembersItemImage' %}
                {% set image = entry.profilePicture.one() %}
                {% set transformedImage = image ? craft.imager.transformImage(image.url, { format: 'webp', width: 366, height: 366, mode: 'crop', position: '50% 50%' }) : null %}
                {% if image %}
                    <figure>
                        <picture>
                            <source srcset="{{ transformedImage.url ?? null }}" type="image/webp">
                            <source srcset="{{ image.getUrl(imageTransformHandle) ?? null }}" type="image/jpeg">
                            <img src="{{ image.getUrl(imageTransformHandle) ?? null }}" class="rounded-circle person-img d-block mx-auto">
                        </picture>
                    </figure>
                {% endif %}
            </div>
            <div class="col-12 col-lg-9 d-none d-lg-block">
                <div class="ms-lg-4 mb-lg-5">
                    <h1 class="text-white mb-3 h3">{{ entry.personName }}</h1>
                    <h2 class="text-white fst-italic my-3 h5">{{ entry.personDesignation }}</h2>
                    <ul class="list-unstyled d-flex flex-column flex-lg-row mt-3 mb-3 mb-lg-0 justify-content-start text-white">
                        {% for block in entry.activeLinks.all() %}
                            <li><a href="{{ block.linkDestination }}">{{ block.linkTitle }}</a><span
                                        class="mx-2">|</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-4 d-lg-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ms-lg-4 mb-lg-5">
                    <h1 class="mb-3 h3">{{ entry.personName }}</h1>
                    <h2 class="fst-italic my-3 h5">{{ entry.personDesignation }}</h2>
                    <ul class="list-unstyled d-flex flex-column flex-lg-row mt-3 mb-3 mb-lg-0 justify-content-start text-white">
                        {% for block in entry.activeLinks.all() %}
                            <li><a href="{{ block.linkDestination }}">{{ block.linkTitle }}</a><span
                                        class="mx-1">|</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="offset-lg-3 col-12 col-lg-8 mb-5 my-lg-5">
            <div class="ms-lg-4">
                {{ entry.richText }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% scss %}
    .person-img-col {
        position: relative;
        .person-img {
            @media (min-width: 992px) {
                position: absolute;
                top: 0;
                left:0;
                width: 100%;
            }
        }
    }
{% endscss %}
