{% extends "base" %}

{% block content %}
    <div class="sm-block-row fix-banner-dark">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/about">About Us</a></li>
                <li class="active"><a href="javascript:void(0);">{{ entry.personName }}</a></li>
            </ul>
            <div class="flex-content flex about-details-wrap">
                <div class="flex-content-aside">
                    <div class="rounded-rimg">
                        {% set image = entry.profilePicture.one().url %}
                        {% set transformedImage = image ? craft.imager.transformImage(image, { format: 'webp' }) : null %}
                        <figure>
                            {% if image %}
                                <picture>
                                    <source srcset="{{ transformedImage.url ?? null }}" type="image/webp">
                                    <source srcset="{{ image }}" type="image/jpeg">
                                    <img src="{{ image }}">
                                </picture>
                            {% endif %}
                        </figure>
                    </div>
                </div>
                <div class="flex-content-main">
                    <div class="title-row white-txt">
                        <h3>{{ entry.personName }}<span><em>{{ entry.personDesignation }}</em></span></h3>
                        <p>
                            {% for block in entry.activeLinks.all() %}
                                <a href="{{ block.linkDestination }}">{{ block.linkTitle }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="sm-block-row pb-0">
                        {{ entry.richText }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}