{% minify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if not craft.app.request.get('exclude_criticalcss') %}
            <style>
                {{ source ('_criticalcss/'~craft.app.requestedParams.template~'_critical.css', ignore_missing = true) }}
            </style>
        {% endif %}
        {% set cssUrl = alias('@web') ~ (craft.app.request.get('legacy') ? '/assets/css/legacy.css' : '/assets/css/' ~ craft.app.requestedParams.template ~ '.css') %}
        <link rel="preload" href="{{ cssUrl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ cssUrl }}"></noscript>
        <script>
            {{ source('_inlinejs/loadCSS.js') }}
        </script>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.ico">

    {% hook "seo" %}
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T394DJP');</script>
</head>

<body class="{% if entry is defined %}entry-{{ entry.slug}}{% endif %} template-{{ craft.app.requestedParams.template }}">
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T394DJP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
{# Begin Header/Navbar Section #}
{% include 'partials/_header' %}

{# Begin Content Section #}
{% block content %}
{% endblock content %}

{# Begin Footer Section #}
{% include 'partials/_footer' %}

{# Begin Script Section #}
{% include 'partials/_scripts' %}


</body>
</html>
{% endminify %}