{% extends "base" %}

{% block css %}
  <link rel="stylesheet" href="/assets/scss/contact.css">
{% endblock %}

{% block content %}
  <div id="content-area">
    {% for block in entry.contactGroup.all() %}
      {% if block.type == "headquartersBlock" %}
        <div class="inner-bg dark-bg sm-block-row">
          <div class="container">
            <div class="flex ai-center main-contact-row">
              <div class="main-contact-wrap">
                <div class="title-row white-txt pt-0">
                  <h3>Main Number: {{block.mainPhoneNumber}}<span>General Inquiries: <a href="{{ block.email }}">{{ block.emailDisplayName }}</a></span></h3>
                </div>
                <div class="meadquarters-wrap">
                  <h3>Headquarters</h3>
                  <p>
                    {% if block.businessName %} {{block.businessName}} <br /> {% endif %}
                    {% if block.addressLine1 %} {{block.addressLine1}}, {% endif %}
                    {% if block.addressLine2 %} {{block.addressLine2}} <br /> {% endif %}
                    {% if block.city %} {{block.city}}{% endif %}
                    {% if block.stateAbbreviation %}, {{block.stateAbbreviation}} {% endif %}
                    {% if block.postalCode %} {{block.postalCode}} {% endif %}
                    {% if block.countryAbbreviation %} {{block.countryAbbreviation}} {% endif %}
                    <br />
                    {% if block.secondaryPhoneNumber %} {{block.secondaryPhoneNumber}} {% endif %}
                  </p>
                </div>
              </div>
              <div class="main-banner-map">
                <figure><img src="{{ block.mapImage.one().getUrl() }}" alt="" /></figure>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="sm-block-row pb-dbl">
      <div class="container">
        <div class="row gy-4 mb-6 mb-lg-4 justify-content-start">
          {% for block in entry.contactGroup.all() %}
            {% if block.type == "mainBlock" %}
              <div class="col-6 col-lg-3 office-item" style="background-image: url({{ block.mapImage.one().getUrl() }})">
                <div class="office-inner">
                  {% if block.stateName %}<h4>{{ block.stateName }}</h4>{% endif %}
                  <address>
                    {% if block.addressLine1 %} {{block.addressLine1}} <br /> {% endif %}
                    {% if block.addressLine2 %} {{block.addressLine2}} <br /> {% endif %}
                    {% if block.cityName %} {{block.cityName}} {% endif %}
                    {% if block.stateAbbreviation %}, {{block.stateAbbreviation}} {% endif %}
                    {% if block.postalCode %} {{block.postalCode}} {% endif %}
                    {% if block.countryAbbreviation %} {{block.countryAbbreviation}} {% endif %}
                  </address>
                  {# <p class="call-item">
                  {% if block.phoneNumber1 %} {{block.phoneNumber1}} <br /> {% endif %}
                  {% if block.phoneNumber2 %} {{block.phoneNumber2}} <br /> {% endif %}
                  {% if block.phoneNumber3 %} {{block.phoneNumber3}} {% endif %}
                </p> #}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="sm-block-row dark-bg pb-dbl pt-0">
      <div class="container">
        <div class="card contact-img-card">
          <figure class="contact-img-figure"><img src="/assets/images/fly.svg" alt="" /></figure>
          <div class="card-body">
            <div class="contact-title text-center">
              <h4>Contact Us</h4>
            </div>
            <form class="contact-form-wrap form-group lbl-left-gourp" action="https://forms.zohopublic.com/vrefaircraftvaluereference/form/VrefMarketingContactForm/formperma/dDiWSeKYnTQFrs8XdITzyzOx6KEFwiKXLBoPL0upm1k/htmlRecords/submit" name="zohoForm" id="form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data" #zohoForm [formGroup]="contactForm">
              {# <div class="alert alert-success alert-dismissible fade show" role="alert">
              Your request has been submitted!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> #}
              <input type="hidden" name="zf_redirect_url" value="https://vref.com/" />
              <div class="flex ai-stretch contact-inner-wrap">
                <div class="contact-fleft">
                  <input type="hidden" name="zf_referrer_name" value="" />
                  <!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
                  <input type="hidden" name="zf_redirect_url" value="" />
                  <!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
                  <input type="hidden" name="zc_gad" value="" />
                  <!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
                  <div class="fitem">
                    <label>Interested In<em>*</em></label>
                    <select name="Dropdown" class="form-control" formControlName="feilds">
                      <option value="" disabled>Choose one...</option>
                      <option value="Online&#x20;Subscription">Online Subscription</option>
                      <option value="Printed&#x20;Value&#x20;Guide">Printed Value Guide</option>
                      <option value="Appraisals">Appraisals</option>
                      <option value="Verified&#x20;Opinions">Verified Opinions</option>
                      <option value="Expert&#x20;Witness">Expert Witness</option>
                      <option value="General&#x20;Inquiry">General Inquiry</option>
                    </select>
                  </div>
                  <div class="fitem">
                    <label for="firstName">First Name<em>*</em></label>
                    <input id="firstName" type="text" maxlength="255" name="Name_First" fieldType="7" class="form-control" formControlName="firstName" />
                  </div>
                  <div class="fitem">
                    <label for="lastName">Last Name<em>*</em></label>
                    <input id="lastName" type="text" maxlength="255" name="Name_Last" fieldType="7" class="form-control" formControlName="lastName"/>
                  </div>
                  <div class="fitem">
                    <label>Email<em>*</em></label>
                    <input type="text" maxlength="255" name="Email" value="" fieldType="9" class="form-control" formControlName="email"/>
                  </div>
                  <div class="fitem">
                    <label>Company (if applicable) </label>
                    <input type="text" name="SingleLine" value="" fieldType="1" maxlength="255" class="form-control" formControlName="company"/>
                  </div>
                  <div class="fitem">
                    <label>Phone number<em>*</em></label>
                    <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled="false" maxlength="15" value="" fieldType="11" id="international_PhoneNumber_countrycode" class="form-control" formControlName="number"/>
                  </div>
                </div>
                <div class="contact-fright">
                  <label>Message<em>*</em></label>
                  <textarea name="MultiLine" maxlength="65535" class="form-control" formControlName="message" placeholder="Type message here..."></textarea>
                </div>
              </div>
              <div class="fitem">
                <div class="fitem-check">
                  <input type="checkbox" id="member" name="Checkbox" value="I&#x20;am&#x20;an&#x20;AOPA&#x20;member" class="fitem-ck-input"/>
                  <label class="fitem-ck-txt" for="member">I&#x20;am&#x20;an&#x20;AOPA&#x20;member</label>
                </div>
              </div>
              <div class="fitem check-list">
                <div class="fitem-check">
                  <input type="checkbox" id="urgentFeild" name="Checkbox" value="This&#x20;is&#x20;urgent" class="fitem-ck-input"/>
                  <label class="fitem-ck-txt" for="urgentFeild">This&#x20;is&#x20;urgent</label>
                </div>
              </div>
              <div class="btn-group text-center" style="width:100%;">
                <button id="buttonId" class="btn btn-brand btn-lg" type="submit" (click)="submitZohoForm()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}