{% extends "base" %}

{% block content %}
    {% set image = entry.headerImage.one() ?? null %}
    {% set transformedImage = image ? craft.imager.transformImage(image.url, { format: 'webp' }) : null %}
    <div class="dymamic-hero py-5"
         style="background-image:url({{ transformedImage.url ?? null }})"
         data-background-image-url-fallback="{{ image.url ?? null }}">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="text-white">
                        <h1 class="text-white display-5 fw-bold">{{ entry.pageTitle }}</h1>
                        <hr/>
                        <p class="fs-5">{{ entry.pageSubtitle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4 my-lg-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="dynamic-content">
                    {% set pageContent = entry.pageContentBuilder.all() %}
                    {% if pageContent %}
                        {% for block in pageContent %}
                            {% switch block.type %}
                            {% case 'text' %}
                                <div class="row">
                                    <div class="col-12">
                                        {{ block.text }}
                                    </div>
                                </div>
                            {% case 'textAndImage' %}
                                <div class="row gx-5 flex-lg-row align-items-start mb-5">
                                    <div class="col-12 col-sm-3 col-lg-4 order-sm-1">
                                        {% set blockImage = block.image.one() ?? null %}
                                        {% set transformedBlockImage = blockImage ? craft.imager.transformImage(blockImage.url, { format: 'webp' }) : null %}
                                        <picture>
                                            <source srcset="{{ transformedBlockImage.url ?? null }}" type="image/webp">
                                            <source srcset="{{ blockImage.url ?? null }}" type="image/jpeg">
                                            <img src="{{ blockImage.url ?? null }}" class="img-fluid">
                                        </picture>
                                    </div>
                                    <div class="col-12 col-sm-9 col-lg-8 my-0  order-sm-0">
                                        {{ block.text }}
                                    </div>
                                </div>
                            {% case 'text2Columns' %}
                                <div class="row gx-5 align-items-start row-text-2-columns">
                                    <div class="col-12 col-lg-6">
                                        {{ block.column1 }}
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {{ block.column2 }}
                                    </div>
                                </div>
                            {% case 'list' %}
                                <div class="row gx-5 mb-5">
                                    {% for item in block.items.all() %}
                                        <div class="col-12 col-md-6">
                                            <h3>{{ item.heading }}</h3>
                                            <p>{{ item.text }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endswitch %}
                        {% endfor %}
                    {% else %}
                        {{ entry.richText }}
                    {% endif %}
                </div>
            </div>
            <aside class="col-12 col-lg-4">
                {% include 'partials/_sidebar' %}
                {% if entry.type != "aboutPage" %}
                    <div class="shadow rounded">
                        <picture>
                            <source srcset="/assets/images/vref-online-valuations.webp" type="image/webp">
                            <source srcset="/assets/images/vref-online-valuations.jpg" type="image/jpeg">
                            <img src="/assets/images/vref-online-valuations.jpg" class="img-fluid">
                        </picture>
                        <div class="px-3 py-4">
                            <p class="mb-4 text-primary fw-bold">Subscribe now to get full access to our complete library of current and historical
                                aircraft data.</p>
                            <a href="/shopsubscription/shop" class="btn btn-warning d-block">
                                View Subscriptions
                            </a>
                        </div>
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>
    {% if entry.type == "aboutPage" %}
        <div>
            {% include 'partials/sections/_team-legacy' %}
        </div>
    {% endif %}
{% endblock %}

{% js at endBody %}
    $(document).ready(function () {
        $('.dynamic-content a.btn').parent().addClass('d-flex row row-cols-1 row-cols-md-auto g-2 justify-content-between');
    });
{% endjs %}

{% scss %}
    .dymamic-hero {
        position: relative;
        &:before {
            z-index: 0;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(34, 35, 36, 0.85);
            background-color: transparent !important;
            background: -webkit-gradient(linear, left top, right top, from(black), color-stop(33%, black), color-stop(71%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
            background: linear-gradient(to right, black 0%, black 33%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
        }
        .container {
            position:relative;
            z-index: 1;
        }
    }
    .dynamic-content {
        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            margin: 1rem 0;
        }
        h2 {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
        .btn {
            font-size: 15px
        }
        ul, ol {
            margin: 20px 20px;
            padding: 0;
        }
        ul[style*="list-style-type:circle"] {
            margin-left: 0;
            margin-right: 0;
            li {
                padding: 0 0 5px 0;
                list-style: none;
                margin-left: 0;
                padding-left: 30px;
                position: relative;
                &:before {
                    background-image: url(/assets/images/list-icon.png);
                    left: 0;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    content: "";
                    top: 3px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }
{% endscss %}