{% extends "base" %}
{% set orderSubscriptions = craft.entries.id(816).first() %}

{% block css %}
  <link rel="stylesheet" href="/assets/scss/home.css">
{% endblock %}

{% block content %}

{# TOP BANNER #}

<div class="content-group no-constrain banner-img-wrap" style="background-image: url(assets/images/header-homepage1.jpg)">
  <div class="text-group header-text-group constrain">
    <h1>Steady Hands Through Turbulent Times</h1>
    <span>VREF has been the aviation industry’s most trusted source of analytics, software and advisory services — through both clear skies and turbulence — since 1994.</span>
    <button class="btn btn-brand">Get Started</button>
  </div>
</div>

{##}
{# Section 2 #}

<div class="content-group pb-4">
  <div class="text-group">
    <h2>From C-Suite to Main Street</h2>
    <span>We believe everyone — from top manufacturers to first-time airplane buyers — should have access to the same clear, credible market data. Our products and services are focused on demystifying and democratizing the aviation market for a range of stakeholders.</span>
  </div>
  <div class="cards-group cards-group-products mt-4">
    {% for i in craft.entries().section('products').all() %}
      <div class="card-wrapper">
        <div class="card-group">
          {% for asset in i.featuredImage.all() %}
            <img src="{{ url(asset.getUrl(), {v: asset.dateModified.timestamp}) }}" />
          {% endfor %}
          <h3 class="my-3">{{ i.title }}</h3>
          <span class="d-block my-2">{{ i.subtitle }}</span>
          <a href="{{ i.url}}" class="btn btn-brand">Learn More</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{##}

{# Section 3 #}

<div class="content-group light-bg">
  <div class="text-group w-100">
    <h2>Trusted By Aviation Leaders</h2>
  </div>
  <div class="cards-group cards-group-leaders">
    {% for i in entry.mediaCluster.all() %}
      <div class="card-wrapper">
        <div class="card-group">
          {% for asset in i.logo.all() %}
            <img src="{{ url(asset.getUrl(), {v: asset.dateModified.timestamp}) }}" />
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{##}

{# Section 4 #}

<div class="content-group">
  <div class="cards-group">
    <div class="text-group w-100 mb-4">
      <h2>What Our Clients Are Saying</h2>
    </div>
    <div class="testi-card-cont">
      <div class="testi-card">
        <div id="testi-captions">
          {% for block in entry.testimonialGroups.all() %}
            <div class="testi-flex">
              <div id="testimonial_">
                <h6>{{ block.testimonialHeader }}</h6>
                <p>{{ block.testimonialExcerpt }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="testi-profiles-cont">
          <div id="testi-profiles">
            {% for block in entry.testimonialGroups.all() %}
              <div class="testi-img">
                {% for asset in block.testimonialThumbnail.all() %}
                  <img src="{{ url(asset.getUrl(), {v: asset.dateModified.timestamp}) }}" alt="" width="100%" />
                {% endfor %}
                <span>{{ block.testimonialClientName }}</span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{##}

{# Section 5 #}

<div class="content-group light-bg">
  <div class="text-group w-100">
    <h2>As Seen In</h2>
  </div>
  <div class="cards-group cards-group-seen-in">
    {% for i in entry.mediaCluster.all() %}
      <div class="card-wrapper">
        <div class="card-group">
          {% for asset in i.logo.all() %}
            <img src="{{ url(asset.getUrl(), {v: asset.dateModified.timestamp}) }}" />
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{##}

{# Section 6 #}

<div class="content-group">
  <div class="text-group w-100">
    <h2 class="mb-4">Prepared For Takeoff?</h2>
    <button class="btn btn-brand">Get Started</button>
  </div>
</div>

{##}

  <script>
    $( document ).ready(function() {
      $('#testi-captions').slick({
        adaptiveHeight: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: true,
        asNavFor: '#testi-profiles'
      });
      $('#testi-profiles').slick({
        adaptiveHeight: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: '#testi-captions',
        arrows: false,
        fade: true,
        centerMode: false,
        focusOnSelect: true
      });
    });

    $("#clientId").click(function(){
      $("#clients-list").toggleClass("client-logo-height");
    })
  </script>

{% endblock %}