{% extends "base" %}

{% block content %}

    {% include 'partials/sections/_hero-no-image' %}
    <div class="border-bottom"></div>
    <div class="container my-5">
        <h2 class="mb-5 text-center">{{ entry.ctaTwinTitle|nl2br}}</h2>
        <div class="row row-cols-1 row-cols-lg-2">
            {% for item in entry.ctaTwinItems.all() %}
                <div class="col mb-4">
                    <div class="card card-product p-5 m-0">
                        <div class="cta-twin-img">
                            {% set itemImageAsset = item.image.one() %}
                            {% if itemImageAsset %}
                                <img src="{{ itemImageAsset.getUrl('featuresItemImage') }}" class="img-fluid h-100">
                            {% endif %}
                        </div>
                        <h2 class="fs-4 my-3 text-center lh-sm">{{ item.heading|nl2br }}</h2>
                        <p class="mb-3 text-center fs-6">{{ item.text|nl2br }}</p>
                        <div class="input-group mb-3 justify-content-center">
                            {% switch item.linkType %}
                                {% case 'asset' %}
                                    {% set linkAsset = item.linkAsset.one() %}
                                    {% set url = linkAsset ? linkAsset.url : '#'  %}
                                    {% set target = '_blank' %}
                                {% case 'entry' %}
                                    {% set linkEntry = item.linkEntry.one() %}
                                    {% set url = linkEntry ? linkEntry.url %}
                                    {% set target = '_self' %}
                            {% endswitch %}
                            <a class="btn btn-brand" target="{{ target }}" href="{{ url }}">{{ item.buttonText }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-lg-2 align-items-center text-center">
            <div class="col-12 col-lg-9">
                <h2 class="text-lg-start mb-3 m-lg-auto">{{ entry.pressCoverageListTitle }}</h2>
            </div>
            <div class="col-12 col-lg-3">
                <div class="text-center">
                    <div class="text-lg-end">
                        <a href="{{ craft.entries().section('pressCoverageArchive').one().url }}" class="fw-bold d-inline-block fs-5 border-bottom">{{ entry.pressCoverageLinkText }} &#8594;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-lg-4 align-items-stretch g-5 pt-5 pb-lg-5 ">
            {% for item in craft.entries().section('pressCoverageEntry').limit(8).orderBy('id DESC').all() %}
                <div class="col">
                    <a href="{{ item.sourceUrl}}" class="d-block d-inline-block img-cover media-outlet-img overflow-hidden" style="background-image: url({{ item.mediaOutlet.one().featuredImage.one().url }})"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="border-bottom"></div>

{% endblock %}