{% set backgroundImage = entry.ctaBackgroundImage.one() ?? (imagePlaceholders.ctaBackgroundImagePlaceholder.one().url ?? null) %}
{% set transformedBackgroundImage = backgroundImage ? craft.imager.transformImage(backgroundImage, { format: 'webp' }) : null %}
<section>
    <div class="img-cover img-cover-shadow"
         style="background-image: url({{ transformedBackgroundImage.url ?? null }})" data-background-image-url-fallback="{{ backgroundImage }}">
        <div class="container py-5 text-center">
            <h2 class="display-6 fw-bold lh-sm mb-3 text-white">{{ entry.ctaTitle|nl2br }}</h2>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4 text-white">{{ entry.ctaText|nl2br }}</p>
                    {% set ctaLinkUrl = false %}
                    {% set ctaLinkEntry = entry.ctaButtonLink ? entry.ctaButtonLink.one() : false %}
                    {% if ctaLinkEntry %}
                        {% set ctaLinkUrl = ctaLinkEntry.url %}
                    {% endif %}
                    {% if not ctaLinkUrl and entry.ctaButtonStrictLink is defined and entry.ctaButtonStrictLink %}
                        {% set ctaLinkUrl = entry.ctaButtonStrictLink %}
                    {% endif %}
                    {% if ctaLinkUrl %}
                        <a href="{{ ctaLinkUrl }}"
                           class="btn btn-brand btn-lg m-0 d-block d-md-inline-block">{{ entry.ctaButtonText ?: 'Get Started' }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
