{% set ctaBackgroundImageAsset = entry.ctaBackgroundImage.one() %}
<div class="img-cover img-cover-shadow" {% if ctaBackgroundImageAsset %}style="background-image: url({{ ctaBackgroundImageAsset.url }})"{% endif %}>
    <div class="container py-5 text-center">
        <h2 class="fw-bold text-white">{{ entry.ctaTitle|nl2br }}</h2>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-white">{{ entry.ctaText|nl2br }}</p>
                {% set ctaLinkUrl = false %}
                {% set ctaLinkEntry = entry.ctaButtonLink ? entry.ctaButtonLink.one() : false %}
                {% if ctaLinkEntry %}
                    {% set ctaLinkUrl = ctaLinkEntry.url %}
                {% endif %}
                {% if not ctaLinkUrl and entry.ctaButtonStrictLink is defined and entry.ctaButtonStrictLink %}
                    {% set ctaLinkUrl = entry.ctaButtonStrictLink %}
                {% endif %}
                {% if ctaLinkUrl %}
                    <a href="{{ ctaLinkUrl }}" class="btn btn-brand btn-lg m-0 d-block d-md-inline-block">{{ entry.ctaButtonText ?: 'Get Started' }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>