{% if columns is not defined %}
    {% set columns = 3 %}
{% endif %}
<section>
    <div class="container p-3 p-md-4 p-lg-5 text-center">
        <h2 class="display-6 fw-bold lh-sm mb-3">{{ entry.featuresTitle|nl2br }}</h2>
        <p class="lead">{{ entry.featuresText|nl2br }}</p>
        {% set imageTransformHandle = 'featuresItemImage' %}
        {% if entry.featuresItems %}
            <div class="row gy-4 gx-lg-4 gy-lg-5 mt-0 mb-3 row-cols-1 row-cols-md-2 row-cols-lg-{{ columns }}">
                {% for item in entry.featuresItems.all() %}
                    <div class="col">
                        {% set itemImage = item.image.one().getUrl(imageTransformHandle) ?? (imagePlaceholders.listItemImagePlaceholder.one().getUrl(imageTransformHandle) ?? null) %}
                        {% set transformedItemImage = itemImage ? craft.imager.transformImage(itemImage, { format: 'webp' }) : null %}
                        <div class="feature-img img-cover"
                             style="background-image: url({{ transformedItemImage.url ?? null }})" data-background-image-url-fallback="{{ itemImage }}"></div>
                        <h3 class="h4 mt-3">{{ item.heading|nl2br }}</h3>
                        <p class="lead">{{ item.text|nl2br }}</p>
                        {% set itemLinkEntry = item.linkEntry ? item.linkEntry.one() : false %}
                        {% if itemLinkEntry %}
                            <div class="text-center mt-2">
                                <a href="{{ itemLinkEntry.url }}"
                                   class="d-md-inline-block border-bottom text-center fs-5">{{ entry.linkText ?: 'Learn More' }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% scss %}
.feature-img{
  width: 100%;
  height: 0;
  padding-top: 65%;
}
{% endscss %}