{% set items = entry.logosItems.all() %}
{% if items is empty %}
    {% set items = imagePlaceholders.logosItemsPlaceholder.all() %}
{% endif %}
{% if entry.logosTitle and items %}
    <section>
        <div class="container p-3 p-md-4 p-lg-5 text-center">
            <h2 class="display-6 fw-bold lh-sm mb-4">{{ entry.logosTitle|nl2br }}</h2>
            <div class="row g-4 py-3 py-lg-4 row-cols-2 row-cols-sm-4 row-cols-lg-{{ items|length }}">
                {% set imageTransformHandle = 'logosItemImage' %}
                {% for item in items %}
                    {% set itemImage = item.getUrl(imageTransformHandle) %}
                    {% set transformedItemImage = itemImage ? craft.imager.transformImage(itemImage, { format: 'webp' }) : null %}
                    <div class="col">
                        <div class="logo-img d-flex justify-content-center">
                            <picture class="img-fluid">
                                <source srcset="{{ transformedItemImage.url ?? null }}" type="image/webp">
                                <source srcset="{{ itemImage ?? null }}" type="image/jpeg">
                                <img src="{{ itemImage ?? null }}">
                            </picture>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% scss %}
.logo-img {
  height: 50px;
}
{% endscss %}