<div class="container px-4 py-5 text-center">
    <h2 class="pb-2">{{ entry.reportsTitle|nl2br}}</h2>
    <p class="lead">{{ entry.reportsText|nl2br}}</p>
    {% if entry.reportsItems %}
    <div class="row">
        <div class="col col-lg-9">
            <div class="row g-4 pt-5 row-cols-1 row-cols-lg-2">
                {% for item in entry.reportsItems.all() %}
                <div class="col">
                    <div class="card rounded-5 border p-5 ">
                        {% set itemImageAsset =  item.image.one() %}
                        {% if itemImageAsset %}
                        <div class="report-img">
                            <img src="{{ itemImageAsset.getUrl('reportsItemImage') }}" class="img-fluid h-100">
                        </div>
                        {% endif %}
                        <h3 class="h4 mt-3">{{ item.heading|nl2br }}</h3>
                        <p class="mb-4">{{ item.text|nl2br }}</p>
                        {% set itemLinkEntry = item.linkEntry.one() %}
                        {% if itemLinkEntry %}
                            <a href="{{ itemLinkEntry.url }}" class="fw-bold d-block d-md-inline-block fs-5 border-bottom text-center">{{ entry.linkText ?: 'View Sample' }}</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div> 
    </div>  
    {% endif %}
</div>