<section>
    <div class="container p-3 p-md-4 p-lg-5">
        <h2 class="display-6 fw-bold lh-sm mb-4 text-center">{{ entry.testimonialTitle }}</h2>
        {% set blocks = entry.testimonialItems.all() %}
        <div id="testimonial-slider">
            {% for block in blocks %}
                <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-center mb-4">{{ block.testimonialHeader }}</h6>
                    <p class="text-center">{{ block.testimonialExcerpt }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% js "/assets/libs/slick-1.8.1/slick/slick.min.js" %}
{% js at endBody %}
    $(document).ready(function () {
        $('#testimonial-slider').slick({
            adaptiveHeight: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        arrows: false,
                        dots: true,
                    }
                }
            ]
        });
    });
{% endjs %}

{% css %}
    {{ source ('_inlinecss/slick.scss') }}
    {{ source ('_inlinecss/slick-theme.scss') }}
    {{ source ('_inlinecss/slick-custom.scss') }}
{% endcss %}