<section>
    <div class="container p-3 p-md-4 p-lg-5">
        <h2 class="display-6 fw-bold lh-sm mb-4 text-center">{{ entry.testimonialTitle }}</h2>
        {% set blocks = entry.testimonialItems.all() %}
        <div id="testimonial-slider">
            {% for block in blocks %}
                <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-center mb-4">{{ block.testimonialHeader }}</h6>
                    <p class="text-center">{{ block.testimonialExcerpt }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% js "/assets/libs/slick-1.8.1/slick/slick.min.js" %}
{% js at endBody %}
    $(document).ready(function () {
        $('#testimonial-slider').slick({
            adaptiveHeight: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        arrows: false,
                        dots: true,
                    }
                }
            ]
        });
    });
{% endjs %}

{% scss %}
    {{ source ('_inlinecss/slick.scss') }}
    {{ source ('_inlinecss/slick-theme.scss') }}
    .slick-slider .slick-prev, .slick-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-size: 100% auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-size: 25% auto;
    background-color: #e4e8eb;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    content: "" !important;
    }
    .slick-slider .slick-prev:hover, .slick-slider .slick-prev:focus, .slick-slider .slick-next:hover, .slick-slider .slick-next:focus {
    opacity: 1;
    background-color: #f4f7fb;
    }
    .slick-slider .slick-next {
    background-image: url(/assets/images/slick-next.png);
    right: 0;
    }
    .slick-slider .slick-prev {
    background-image: url(/assets/images/slick-prev.png);
    z-index: 9;
    left: 0;
    }

    .slick-dots {
    bottom: -36px;
    }

    .slick-prev {
    margin-left: -80px;
    }

    .slick-next {
    margin-right: -80px;
    }

    .testi-card-cont {
    width: 80%;
    }

    body section:nth-of-type(even) .testi-card {
    background: #fff;
    }

    .testi-card {
    position: relative;
    width: 100%;
    background: #F4F7FB;
    border: 1px solid #E8EBEF;
    border-radius: 5px;
    padding: 40px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .testi-profiles-cont {
    display: none;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    height: 112px;
    width: 400px;
    }

    #testi-captions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0 !important;
    text-align: center;
    }
    @media (max-width: 767px) {
    #testi-captions .slick-prev {
    margin-left: -62px;
    }
    #testi-captions .slick-next {
    margin-right: -62px;
    }
    }
    @media (min-width: 768px) {
    #testi-captions {
    width: 80%;
    }
    }
    @media (min-width: 992px) {
    #testi-captions {
    text-align: left;
    }
    #testi-captions .slick-track {
    display: flex;
    }
    #testi-captions .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: stretch;
    justify-content: center;
    }
    }

    .testi-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }

    .testi-img span {
    display: inline-block !important;
    }

    .testi-img img {
    display: inline-block !important;
    border-radius: 50%;
    height: 112px;
    width: 112px;
    }

    .slick-slider .slick-prev, .slick-slider .slick-next {
    background-color: transparent !important;
    }

    .slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
    opacity: 0.7;
    }
{% endscss %}